#banner
	.banner_content
		%h1 Stickerly
		%p Your personal no-sticky, sticky...
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "If I hadn't used Stickerly &copy; I'd never had been president,"
		%p.name - J. Edgar Hoover
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 There's a storm coming...
				%p 10-man aotm ar boe brs clothadin coa cooldown cs ctf dm dw face pull imo inc lagforge legolas loh los pull mark ml nr ppr qq respec rfk ulda vt. Bom dw leeroy lfg los mats mt pl port sw uc ud v. Alch bok bubblehearth disco dm gold farmer grays lb loh los ls medge mulgroll paw pl pst rfd sos stv towning v wisp xr yard trash. Aspect of the dazed coe face melting gm if imba l2p md ml tm. 2h ah blood elf dot gold farmer greens hos iggy main naxx nelf rfc roll wpl wsg. 10-man aggro magnet aotp bs clothadin corpse camping dmf dnd dot efr hot ironlag lfm mb moo motd nassus nelf noob s scaling sheep stocks uds vt wisp.

			.callout
				%h2 Demand to know who is in charge!
				%p 10-man aotm ar boe brs clothadin coa cooldown cs ctf dm dw face pull imo inc lagforge legolas loh los pull mark ml nr ppr qq respec rfk ulda vt. Bom dw leeroy lfg los mats mt pl port sw uc ud v. Alch bok bubblehearth disco dm gold farmer grays lb loh los ls medge mulgroll paw pl pst rfd sos stv towning v wisp xr yard trash. Aspect of the dazed coe face melting gm if imba l2p md ml tm. 2h ah blood elf dot gold farmer greens hos iggy main naxx nelf rfc roll wpl wsg. 10-man aggro magnet aotp bs clothadin corpse camping dmf dnd dot efr hot ironlag lfm mb moo motd nassus nelf noob s scaling sheep stocks uds vt wisp.

			.callout
				%h2 Win the Battle
				%p 10-man aotm ar boe brs clothadin coa cooldown cs ctf dm dw face pull imo inc lagforge legolas loh los pull mark ml nr ppr qq respec rfk ulda vt. Bom dw leeroy lfg los mats mt pl port sw uc ud v. Alch bok bubblehearth disco dm gold farmer grays lb loh los ls medge mulgroll paw pl pst rfd sos stv towning v wisp xr yard trash. Aspect of the dazed coe face melting gm if imba l2p md ml tm. 2h ah blood elf dot gold farmer greens hos iggy main naxx nelf rfc roll wpl wsg. 10-man aggro magnet aotp bs clothadin corpse camping dmf dnd dot efr hot ironlag lfm mb moo motd nassus nelf noob s scaling sheep stocks uds vt wisp.
#bottom_cta
	.wrapper
		%h2 Your presence is requested...
		%p If you don't sign up, your presence will go from requested, to required!
		%button= link_to "It Clicks Here", new_user_registration_path

%footer
	%p &copy; Havick Development